#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define SPCNAV   1
#define MEDNUM   2
#define GFUNCT   3
#define BTOOTH   4

/ {
	behaviors {
		hm: homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			label = "homerow mods";
			#binding-cells = <2>;
			tapping_term_ms = <200>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};
	};
};

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			label = "QWERTY";
			// --------------------------------------------------------------------------------------------------											-----------------------------------------------------------------------------
			// |		| Q					| W					| E				| R			| T					|											| Y				| U			| I			| O			| P				|		|
			// |		| A (CTRL)			| S (ALT)			| D (META)		| F (SHIFT)	| G (FUNCTION)		|											| H				| J (SHIFT)	| K (META)	| L (ATL)	| ;				|		|
			// |		| Z					| X					| C				| V			| B (BTOOTH)		|											| N				| M			| ,			| .			| /				|		|
			//																	|			| ENTER (MEDNUM)	| SPACE (SPCNAV) |		| SPACE (SPCNAV)	|BCKSPC (MEDNUM)|              |
			bindings = <
				&none	&kp Q				&kp W				&kp E			&kp R		&kp T															&kp Y			&kp U		&kp I		&kp O		&kp P			&none
				&none	&hm LCTRL A			&hm LALT S			&hm LGUI D		&hm LSHFT F	&lt GFUNCT G													&lt GFUNCT H	&hm RSHFT J	&hm RGUI K	&hm RALT L	&hm RCTRL SEMI	&none
				&none	&kp Z				&kp X				&kp C			&kp V		&lt BTOOTH B													&kp N			&kp M       &kp COMMA	&kp DOT		&kp FSLH		&none
																				&none		&lt MEDNUM RET		&lt SPCNAV SPACE		&lt SPCNAV SPACE	&lt MEDNUM BSPC	&none
			>;
        };

		spacenav_layer {
			label = "SPCNAV";
			// --------------------------------------------------------------------------------------------------											-----------------------------------------------------------------------------
			// |		| ESCAPE			|					|				| CAPS LOCK	| TAB				|											| \				| '			| `			| [			| ]				|		|
			// |		| CONTROL			| ALT				| META			| SHIFT		|					|											| LEFT			| DOWN		| UP		| RIGHT		| ENTER			|		|
			// |		|					|					|				|			|					|											| HOME			| PAGE DOWN	| PAGE UP	| END		| DELETE		|		|
			//																	|			| ENTER				| SPACE			|		| SPACE				| BACKSPACE		|			|
			bindings = <
				&none	&kp ESC				&none				&none			&kp CAPS	&kp TAB															&kp BSLH		&kp SQT		&kp GRAVE	&kp LBKT	&kp RBKT		&none
				&none	&kp LCTRL			&kp LALT			&kp LGUI		&kp LSHFT	&none															&kp LEFT		&kp DOWN	&kp UP		&kp RIGHT	&kp RET			&none
				&none	&none				&none				&none			&none		&none															&kp HOME		&kp PG_DN	&kp PG_UP	&kp END		&kp DEL			&none
																				&trans		&trans				&trans					&trans				&trans			&trans
			>;
		};
		
		medianumber_layer {
			label = "MEDNUM";
			// --------------------------------------------------------------------------------------------------											-----------------------------------------------------------------------------
			// |		| 1					| 2					| 3				| 4			| 5					|											| 6				| 7			| 8			| 9			| 0				|		|
			// |		| CONTROL			| ALT				| META			| SHIFT		| MUTE				|											|				| SHIFT		| META		| ALT		| CONTROL		|		|
			// |		| PREVIOUS			| VOL DOWN			| VOL UP		| NEXT		| PLAY/PAUSE		|											| -				| =			| ,			| .			| /				|		|
			//																	|			| ENTER				| SPACE			|		| SPACE				| BACKSPACE		|			|
			bindings = <
				&none	&kp N1				&kp N2				&kp N3			&kp N4		&kp N5															&kp N6			&kp N7		&kp N8		&kp N9		&kp N0			&none
				&none	&kp LCTRL			&kp LALT			&kp LGUI		&kp LSHFT	&kp C_MUTE														&none			&kp RSHFT	&kp RGUI	&kp RALT	&kp RCTRL		&none
				&none	&kp C_PREV			&kp C_VOL_DN		&kp C_VOL_UP	&kp C_NEXT	&kp C_PP														&kp MINUS		&kp EQUAL	&kp COMMA	&kp DOT		&kp FSLH		&none
																				&trans		&trans				&trans					&trans				&trans			&trans
			>;
		};

		gfunction_layer {
			label = "GFUNCT";
			// --------------------------------------------------------------------------------------------------											-----------------------------------------------------------------------------
			// |		| F1				| F2				| F3			| F4 			| F5			|											| F6			| F7		| F8		| F9		| F10			|		|
			// |		| CONTROL			| ALT				| META			| SHIFT			|				|											|				| SHIFT		| META		| ALT		| CONTROL		|		|
			// |		|					|					|				|				|				|											| F11			| F12		| 			|			|				|		|
			//																	|				| ENTER			| SPACE			|		| SPACE				| BACKSPACE		|			
			bindings = <
				&none	&kp F1				&kp F2				&kp F3			&kp F4			&kp F5														&kp F6			&kp F7		&kp F8		&kp F9		&kp F10			&none
				&none	&kp LCTRL			&kp LALT			&kp LGUI		&kp LSHFT		&none														&none			&kp RSHFT	&kp RGUI	&kp RALT	&kp RCTRL		&none
				&none	&none				&none				&none			&none			&none														&kp F11			&kp F12		&none		&none		&none			&none
																				&trans			&trans			&trans					&trans				&trans			&trans
			>;
		};

		bluetooth_layer {
			label = "BTOOTH";
			// --------------------------------------------------------------------------------------------------											-----------------------------------------------------------------------------
			// |		| BT0				| BT1				| BT2			| BT3 			| BT4			|											|				|			|			|			|				|		|
			// |		| EXT POWER ON		| EXT POWER OFF		| 				|				| BT CLEAR		|											| BT PREVIOUS	|			|			| BT NEXT	|				|		|
			// |		| OUTPUT TOGGLE		| OUTPUT USB		| OUTPUT BLE	|				|				|											|				|			|			|			|				|		|
			//																	|				| ENTER			| SPACE			|		| SPACE				| BACKSPACE		|			|
			bindings = <
				&none	&bt BT_SEL 0		&bt BT_SEL 1		&bt BT_SEL 2	&bt BT_SEL 3	&bt BT_SEL 4												&none			&none		&none		&none		&none			&none
				&none	&ext_power EP_ON	&ext_power EP_OFF	&none			&none			&bt BT_CLR													&bt BT_PRV		&none		&none		&bt BT_NXT	&none			&none
				&none	&out OUT_TOG		&out OUT_USB		&out OUT_BLE	&none			&trans														&none			&none		&none		&none		&none			&none
																				&trans			&trans			&trans					&trans				&trans			&trans
			>;
		};
	};
};
